<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>$(SolutionDir)publish\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <UseMsDeploy>false</UseMsDeploy>
    <TargetFramework>net40</TargetFramework>
    <Configuration>Release</Configuration>
    <ProjectGuid>{REPLACE-WITH-YOUR-GUID}</ProjectGuid>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFrameworkVersion>v4.0</TargetFrameworkVersion>
    <AppDesignerFolder>Properties</AppDesignerFolder>
    <PublishSiteName>dbtcbttherapistportal</PublishSiteName>
  </PropertyGroup>
</Project>