<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>$(SolutionDir)publish\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <TargetFramework>net40</TargetFramework>
    <Configuration>Release</Configuration>
  </PropertyGroup>
</Project>